<!-- ブログのトップページ -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>日々ノート</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>

    <!-- left-content ----------------------------------------------------------------->
    <h1 class="left-content-title">～～～　記事一覧　～～～</h1>

      <div class="card">
        <a href="/article"></a>
        <div class="card-title">ブログ作成の手順　AWS LightSail + WordPress</div>
        <div class="card-content">
          <div class="card-content-img">
            <img src="https://tekutekku.com/wp-content/uploads/2021/09/top_makeblog.jpg"> 
          </div>
        </div>
      </div>

  </body>
</html>
