<!-- ブログのトップページ -->

<!-- left-content ----------------------------------------------------------------->
<% for(let i in contents){ %>
  <div class="card">
    <a href="/article?id=<%= contents[i].id %>"></a>
    <div class="card-text">
      <div class="card-text-date"><%= contents[i].date %></div>
      <div class="card-text-title"><%= contents[i].title %></div>
    </div>
    <div class="card-content">
      <div class="card-content-img">
        <img src="<%= contents[i].headerimg %>"> 
      </div>
    </div>
  </div>
<% } %>


