<!-- ブログのトップページ -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>日々ノート</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>

    <!-- left-content ----------------------------------------------------------------->
    <h1 class="left-content-title">～～～　記事一覧　～～～</h1>

    <% for(let i in data.contents){ %>
      <div class="card">
        <a href="/article?id=<%= contents[i].id %>"></a>
        <div class="card-title"><%= contents[i].title %></div>
        <div class="card-content">
          <div class="card-content-img">
            <img src="<%= contents[i].headerimg %>"> 
          </div>
        </div>
      </div>
    <% } %>

  </body>
</html>
