<!-- article-content⓵ ------------------------------------------------------>
<div class="article-content">
  <h2>この記事の内容</h2>
  <p>
    HTMLの勉強を始めたばかりの方に向けてこの記事を書いています。<br>
    もっともシンプルな方法でHTMLファイルを作成して、ブラウザで表示させてみることで、
    ExcelやWordのようにHTMLファイルを身近に感じてもらうことを目的としています。
  </p>
</div>

<!-- article-content⓵ ------------------------------------------------------>
<div class="article-content">
  <h2>本題</h2>
  <p>
    それではさっそく、下の①、②を進めていきます。
  </p>
  <ul>
    <li>①メモ帳でHTMLファイルを作成</li>
    <li>②ブラウザで表示</li>
  </ul>

  <h3>①メモ帳でHTMLファイルを作成</h3>
  <p>
    まず、メモ帳を開きます。
    <img src="https://assets.st-note.com/img/1655984588797-XoPy0Ya1Yo.jpg?width=800">
  </p>
  <p>次に、開いたメモ帳に以下をコピペしてください。</p>
  <pre>
    <code>
<html>
  <head>
    <title>ページのタイトル</title>
  </head>
  <body>
    <h1>テストテキスト</h1>
  </body>
</html>
    </code>
  </pre>
  <p>
    次に、デスクトップに「test.html」とファイル名をつけて保存してください。<br>
  （保存するとアイコンが普段使っているブラウザのアイコンになります。）
  <img src="https://assets.st-note.com/img/1656125699209-3yTN0ZULD5.png">
  </p>
  <p>
    以上で「①メモ帳でHTMLファイルを作成」は完了です！
    では続いて作成したHTMLファイルをブラウザで表示させてみます。
  </p>

  <h3>②ブラウザで表示</h3>
  <p>
    やり方は非常に簡単です。作成したファイルをダブルクリックしてください。<br>
    すると下のようなページが表示されます。
  </p>
  <img src="https://assets.st-note.com/img/1656126333176-fZLL3DbHFj.jpg?width=800">
  <p>以上で、「①メモ帳でHTMLファイルを作成」、「②ブラウザで表示」完了です！</p>
</div>
<!-- article-content⓶ ------------------------------------------------------>
<div class="article-content">
  <h2>以下、補足です。</h2>
  <p>
    作成したファイルの開き方が少し特殊なので、捕捉します。
  </p>
  <p>
    【開き方】<br>
      ①ファイルを右クリック<br>
      ②プログラムから開く　→　メモ帳
  </p>
  <img src="https://assets.st-note.com/img/1656127364789-7yKP2hrUT3.jpg?width=800">
</div>
