@import "variable"; //変数の読み込み

.card{
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 640px;
  // max-width: $main-content-size;
  background-color: $content-bg-color;
  a{
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .card-text{
    padding: 0 20px;
    height: 90px;
    .card-text-date{
      height: 40px;
      line-height: 40px;
    }
    .card-text-title{
      height: 50px;
      font-size: $font-size-big;
      font-weight: bold;
    }
  }
  .card-content{
    .card-content-img{
      img{
        object-fit: contain;
      }
    }
  }
}