@import "variable"; //変数の読み込み

*{
  box-sizing: border-box;
}

body{
  font-family: Noto, "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif, serif;
  color: $font-color;
  background-color: #f5f5f5;
  p{
    padding: 5px 0;
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom:1px solid #aaa;
  background-color: $content-bg-color;
  box-sizing: border-box;
  a{
    text-decoration: none;
    color: $font-color;
  }
  .header-title{
    padding: 0 10px;
    height: 100px;
    width: $content-size-pc;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-weight: bold;
    @media screen and (max-width: $breakpoint-tab){
      width: $content-size-tab;
    }
    @media screen and (max-width: $breakpoint-sp){
      width: 100%;
      text-align: center;
    }
    .header-main-title{
      font-size: $font-size-big;
      color: $font-color;
    }
    .header-sub-title{
      font-size: $font-size-small;
      color: $font-color;
    }
  }
  .header-bottom-bar{
    height: 30px;
    width: 100%;
    background-color: $layout-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: end;
    .header-bottom-bar-line{
      height: 1px;
      margin: 1px 0;
      background-color: white;
    }
  }
}

.contents{
  width: $content-size-pc;
  margin: 100px auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $breakpoint-tab){
    width: $content-size-tab;
    flex-direction: column;
  }
  @media screen and (max-width: $breakpoint-sp){
    width: 100%;
    padding: 0 10px;
    flex-direction: column;
  }
  .left-contents{
    width: 70%;
    @media screen and (max-width: $breakpoint-tab){
      margin: 0 auto;
      width: $content-size-tab;
    }
    @media screen and (max-width: $breakpoint-sp){
      margin: 0 auto;
      width: 100%;
    }
  }
  .right-contents{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $breakpoint-tab){
      padding: 0;
      margin: 0 auto;
      width: $content-size-tab;
    }
    @media screen and (max-width: $breakpoint-sp){
      padding: 0;
      margin: 0 auto;
      width: 100%;
    }
    .right-content{
      padding: 20px;
      background-color: $content-bg-color;
      .right-content-title{
        font-size: $font-size-big;
        font-weight: bold;
      }
    }
  }
}

footer{
  height: 50px;
  background-color: $layout-bg-color;
  color: white;
  text-align: center;
  line-height: 40px;
}