@import "variable"; //変数の読み込み

form{
  .form-group{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    // @media screen and (max-width: $breakpoint-tab){
    //   width: $content-size-tab;
    // }
    // @media screen and (max-width: $breakpoint-sp){
    //   padding: 0 10px;
    //   text-align: center;
    // }
    input, textarea{
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #000;
      border-radius: 5px;
    }
    input[type="checkbox"]{
      width: 30px;
    }
    .article-header-title{
      margin: 0; //manage画面だけh1のマージン０に設定
    }
  }
  .form-send-button{
    margin: 0 auto;
    padding: 30px;
    background-color: $layout-bg-color;
    color: white;
    text-align: center;
    position: relative;
    &:hover{
      background-color: rgba(0,0,112,0.8);
    }
    input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.deletebutton{
  margin: 30px auto;
  padding: 20px;
  width: 100%;
  background-color: $layout-bg-color;
  color: white;
  text-align: center;
  position: relative;
  &:hover{
    background-color: rgba(0,0,112,0.8);
  }
}