// Sass変数一覧-----------------------------------------------
$content-size-pc: 1000px;             //レスポンシブ対応　デスクトップ用
$breakpoint-tab: 992px;               //レスポンシブ対応　タブレット(ラップトップ）
$content-size-tab: 640px;             //レスポンシブ対応　幅サイズ
$breakpoint-sp: 750px;                //レスポンシブ対応　スマホ
$layout-bg-color: rgba(0,0,112,1);  //ブログのテーマ色
$content-bg-color: white;
$font-color: black;
$font-size-big: 22px;
$font-size-small: 16px;
// -----------------------------------------------------------