<!-- ブログのトップページ -->
    <!-- left-content ----------------------------------------------------------------->
    <form method="get" action="/manage/article/add">
      <div class="form-send-button">
        <input type="submit" value="新規作成">
      </div>
    </form><br><br><br><br>

    <% for(var i in contents) { %>
      <div class="card">
        <a href="/manage/article/edit?id=<%= contents[i].id %>"></a>
        <div class="card-text">
          <div class="card-text-date"><%= contents[i].date %></div>
          <div class="card-text-title"><%= contents[i].title %></div>
        </div>
        <div class="card-content">
          <div class="card-content-img">
            <img src="<%= contents[i].headerimg %>"> 
          </div>
        </div>
      </div>
    <% } %>
      